:root {
  --major-font-family: "Quicksand", sans-serif;
  --secondary-font-family: "Nunito", sans-serif;
  --major-letter-spacing: 0.03em;
  --use-dark-theme: false;
  --timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
  margin-bottom: 0;
  font-family: "Quicksand", sans-serif;
}

ul,
ol {
  margin-top: 0;
  margin-bottom: 0;
  margin-left: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.link {
  text-decoration: none;
}

@media screen and (max-width: 1399px) {
  .section {
    padding-top: 50px;
    padding-bottom: 50px;
  }
}
@media screen and (min-width: 1400px) {
  .section {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}
.container {
  padding-left: 15px;
  padding-right: 15px;
}

@media screen and (min-width: 480px) {
  .container {
    width: 480px;
    margin-left: auto;
    margin-right: auto;
  }
}
@media screen and (min-width: 768px) {
  .container {
    width: 768px;
  }
}
@media screen and (min-width: 1400px) {
  .container {
    width: 1400px;
  }
}
.accent-button {
  cursor: pointer;
  min-width: 130px;
  padding: 10px 35px;
  border-radius: 24px;
  font-family: inherit;
  cursor: pointer;
  font-size: 12px;
  font-weight: 700;
  line-height: 1.5;
  letter-spacing: 0.06em;
  transition: background-color 250ms var(--timing-function);
}

@media screen and (min-width: 768px) {
  .accent-button {
    min-width: 185px;
    padding: 12px 45px;
    font-size: 16px;
    font-weight: 700;
    line-height: 1.5;
    letter-spacing: 0.12px;
  }
}
.secondary-titles {
  font-family: "Nunito", sans-serif;
  margin-bottom: 25px;
  font-size: 28px;
  font-weight: 700;
  line-height: 1.29;
}

.secondary-subtitles {
  margin-bottom: 10px;
  font-size: 14px;
  font-weight: 600;
  line-height: 1.14;
  letter-spacing: 0.14px;
}

@media screen and (min-width: 1400px) {
  .secondary-titles {
    margin-bottom: 30px;
    font-size: 55px;
    font-weight: 700;
    line-height: 1.2;
  }
  .secondary-subtitles {
    margin-bottom: 20px;
    font-size: 24px;
    font-weight: 600;
    line-height: 1.08;
    letter-spacing: 0.24px;
  }
}
.text-description {
  text-align: center;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.71;
  letter-spacing: 0.2px;
}

@media screen and (min-width: 768px) {
  .text-description {
    font-size: 20px;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 0.14px;
  }
}
@media screen and (max-width: 1399px) {
  .burger-menu {
    padding: 0;
    border: none;
    line-height: 0;
    cursor: pointer;
  }
  .mobile-menu {
    z-index: 1000;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    transition: opacity 250ms var(--timing-function), visibility 250ms var(--timing-function);
  }
  .mobile-menu.is-open {
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
  }
  .burger-menu__icon {
    transition: fill 250ms var(--timing-function);
  }
  .mobile-menu__close {
    position: absolute;
    top: 10px;
    right: 15px;
    padding: 11px;
    border: none;
    line-height: 0;
    cursor: pointer;
  }
  .btn-close__icon {
    transition: fill 250ms var(--timing-function);
  }
  .mobile-menu__container {
    display: flex;
    flex-direction: column;
    position: relative;
    height: 100vh;
    padding-top: 48px;
    padding-bottom: 48px;
  }
  .mobile-list {
    margin-bottom: 64px;
  }
  .mobile-list__item {
    font-size: 30px;
    font-weight: 500;
    line-height: 1.13;
    letter-spacing: 0.02em;
    margin-bottom: 32px;
  }
  .mobile-list__item .mobile-list__link:hover {
    transition: color 250ms var(--timing-function);
  }
  .burger-menu__button {
    display: block;
    margin: 0 auto;
  }
}
.theme {
  position: fixed;
  z-index: 9999;
  cursor: pointer;
  top: 50%;
  left: 10px;
  transform: translateY(-50%);
  padding: 10px;
  border-radius: 10px;
}

.theme svg {
  cursor: pointer;
}

@keyframes headerScale {
  from {
    transform: translateX(-25%);
  }
  to {
    transform: translateX(0);
  }
}
.logo {
  display: grid;
  grid-template-columns: auto auto;
  gap: 5px;
}

.logo__title {
  max-width: 72px;
}

.logo__first {
  font-size: 20px;
  font-weight: 700;
  line-height: 1.2;
}

.logo__second {
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-list__item a {
  font-size: 18px;
  font-weight: 400;
  line-height: 1.33;
  transition: color 250ms var(--timing-function);
}

.nav-list__item--active a {
  font-weight: 500;
}

@media screen and (min-width: 1400px) {
  .mobile-menu,
  .burger-menu {
    display: none;
  }
}
@media screen and (max-width: 1399px) {
  .navigation,
  .header__button {
    display: none;
  }
}
@media screen and (min-width: 1400px) {
  .header {
    display: flex;
    animation: headerScale 1000ms forwards;
  }
  .nav-list {
    display: grid;
    grid-template-columns: auto auto auto auto;
    gap: 50px;
  }
  .nav-list__item {
    padding: 12px 0;
  }
}
@keyframes slideInFromTop {
  from {
    transform: translateX(-100%);
  }
  to {
    transform: translateX(0);
  }
}
@keyframes imgScale {
  from {
    transform: scale(0.2);
  }
  to {
    transform: scale(1);
  }
}
.hero {
  padding-top: 0;
  animation: slideInFromTop 1200ms forwards;
}

.hero__title {
  font-family: "Nunito", sans-serif;
  max-width: 750px;
  margin-bottom: 20px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  letter-spacing: 0.64px;
  font-size: 28px;
  font-weight: 800;
  line-height: 1.14;
}

.hero__desc {
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 20px;
  max-width: 340px;
}

.hero__button {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 62px;
}

.hero__image {
  position: relative;
  z-index: 1;
  animation: imgScale 1500ms forwards;
  margin-left: auto;
  margin-right: auto;
  border-radius: 55px;
}

.hero__area {
  position: relative;
}

.hero-article {
  z-index: 10;
  position: absolute;
  bottom: -10%;
  right: 7%;
  padding: 14px 10px;
  border-radius: 6px;
}

.hero-article__area {
  display: flex;
  align-items: center;
  margin-bottom: 6px;
}

.hero-article__image {
  margin-right: 5px;
  border-radius: 50%;
}

.hero-article__author {
  font-size: 5px;
  font-weight: 600;
  line-height: 1.4;
  letter-spacing: 0.1px;
}

.hero-article__post {
  font-size: 3px;
  font-weight: 600;
  line-height: 1.67;
}

.hero-article__review {
  max-width: 60px;
  font-size: 5px;
  font-weight: 400;
  line-height: 1.4;
  letter-spacing: 0.1px;
}

.great-review {
  z-index: 10;
  position: absolute;
  top: -10%;
  left: 5%;
  padding: 15px 20px;
  border-radius: 10px;
}

.great-review__star {
  display: flex;
  align-items: center;
  margin-bottom: 4px;
  margin-right: 4px;
}

.great-review__title {
  text-transform: uppercase;
  font-size: 6px;
  font-weight: 700;
  line-height: 1.33;
}

.great-review__grade {
  font-size: 12px;
  font-weight: 400;
  line-height: 1.33;
}

@media screen and (min-width: 768px) {
  .hero-article {
    bottom: -2%;
    right: -5%;
    padding: 28px 20px;
    border-radius: 10px;
  }
  .hero-article__area {
    margin-bottom: 12px;
  }
  .hero-article__image {
    margin-right: 10px;
  }
  .hero-article__author {
    font-size: 10px;
    font-weight: 600;
    line-height: 1.2;
  }
  .hero-article__post {
    font-size: 6px;
    font-weight: 600;
    line-height: 1.33;
  }
  .hero-article__review {
    max-width: 125px;
    font-size: 10px;
    font-weight: 400;
    line-height: 1.2;
    letter-spacing: 0.1px;
  }
  .hero__title {
    font-size: 60px;
    font-weight: 900;
    line-height: 1.35;
    margin-bottom: 25px;
  }
  .hero__desc {
    margin-bottom: 32px;
    max-width: 790px;
  }
  .hero__button {
    margin-bottom: 100px;
  }
  .great-review {
    padding: 20px 32px;
    border-radius: 6px;
    top: 5%;
    left: -5%;
  }
  .great-review__img {
    width: 24px;
    height: 24px;
  }
  .great-review__img {
    margin-right: 8px;
    margin-bottom: 8px;
  }
  .great-review__title {
    font-size: 12px;
    font-weight: 700;
    line-height: 1.17;
  }
  .great-review__grade {
    font-size: 24px;
    font-weight: 400;
    line-height: 1.25;
  }
}
@media screen and (min-width: 1400px) {
  .hero-article {
    bottom: -2%;
    right: 15%;
  }
  .hero__area::before {
    content: "";
    position: absolute;
    display: block;
    left: 420px;
    top: -15px;
    width: 100px;
    height: 70px;
    background-image: url(../../img/decoration-first.svg);
    background-repeat: no-repeat;
    background-size: cover;
  }
  .hero__area::after {
    content: "";
    position: absolute;
    z-index: 0;
    display: block;
    left: 450px;
    bottom: -15px;
    width: 100px;
    height: 70px;
    background-image: url(../../img/decoration-first-red.svg);
    background-repeat: no-repeat;
    background-size: cover;
  }
  .great-review {
    top: 5%;
    left: 15%;
  }
}
.team {
  text-align: center;
}

.team__desc {
  margin-bottom: 35px;
}

.team__button-list {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 35px;
}

.team__image {
  position: relative;
  z-index: 100;
  max-width: 562px;
  max-height: 462px;
  margin: 0 auto;
  border-radius: 30px;
}

.story-btn {
  display: grid;
  grid-template-columns: 0.25fr 1.75fr;
  align-items: center;
  gap: 5px;
  padding: 12px 35px;
  min-width: 150px;
}

@media screen and (max-width: 767px) {
  .team__image {
    min-width: 200px;
  }
  .story-btn {
    padding: 10px 35px;
  }
}
@media screen and (max-width: 1399px) {
  .team__area {
    margin-bottom: 66px;
  }
}
@media screen and (min-width: 1400px) {
  .team__image {
    order: 1;
  }
  .team__area {
    order: 2;
  }
  .team_gallery {
    position: relative;
    display: grid;
    grid-template-columns: auto auto;
    gap: 65px;
  }
  .team_gallery::before {
    content: "";
    position: absolute;
    display: block;
    top: -10px;
    left: -25px;
    width: 100px;
    height: 70px;
    background-image: url(../../img/decoration-first-red.svg);
    background-repeat: no-repeat;
    background-size: cover;
    z-index: 0;
  }
  .team_gallery::after {
    content: "";
    position: absolute;
    display: block;
    bottom: -10px;
    left: 493px;
    width: 100px;
    height: 70px;
    background-image: url(../../img/decoration-first-pink.svg);
    background-repeat: no-repeat;
    background-size: cover;
  }
  .team__desc {
    margin-bottom: 26px;
  }
  .team__button-list {
    grid-template-columns: 170px 170px;
    gap: 25px;
  }
  .story-btn {
    min-width: 185px;
  }
}
.services {
  text-align: center;
}

.services__desc {
  margin-bottom: 36px;
}

.services__more {
  display: flex;
  text-align: start;
  align-items: center;
}

.services__more span {
  margin-right: 5px;
}

.services__icon-more {
  stroke: var(--accent-color);
}

.services-list__link {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 34px 34px;
}

.services-list__elem {
  width: 70px;
  height: 70px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-bottom: 32px;
  border-radius: 50%;
}

.services-list__elem--monitor {
  background-color: var(--accent-color);
}

.services-list__icon {
  stroke: var(--backgroud-secondary-color);
}

.services-list__item {
  max-width: 262px;
  max-height: 270px;
  border-radius: 30px;
  transition: transform 250ms var(--timing-function);
}
.services-list__item:hover {
  transform: scale(1.1);
}

.services-list__title {
  max-width: 156px;
  font-size: 22px;
  font-weight: 700;
  line-height: 1.45;
}

.services-list__item--bottom {
  padding: 50px 90px;
}

@media screen and (max-width: 767px) {
  .services-list__item {
    margin: 0 auto;
  }
  .services-list__item:not(:last-child) {
    margin-bottom: 35px;
  }
}
@media screen and (max-width: 1399px) {
  .services__more {
    margin-bottom: 27px;
  }
}
@media screen and (min-width: 768px) {
  .services-list {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 40px;
    place-items: center;
  }
}
@media screen and (min-width: 1400px) {
  .services {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 155px;
    align-items: baseline;
  }
  .services__more {
    text-align: end;
  }
  .services__title {
    text-align: start;
    max-width: 420px;
  }
}
.portfolio {
  display: grid;
  place-items: center;
}

.portfolio__desc {
  max-width: 340px;
  margin-bottom: 34px;
}

.portfolio-list__item {
  position: relative;
}

.portfolio-list__image {
  margin: 0 auto;
  border-radius: 30px;
}

.portfolio__subject {
  position: absolute;
  text-align: center;
  bottom: 20px;
  left: 44px;
  font-size: 14px;
  font-weight: 700;
  line-height: 1.14;
  letter-spacing: 0.072px;
}

@media screen and (max-width: 1399px) {
  .portfolio-list__item {
    margin-bottom: 54px;
  }
}
@media screen and (min-width: 768px) {
  .portfolio__desc {
    max-width: 674px;
    margin-bottom: 48px;
  }
  .portfolio__subject {
    position: absolute;
    text-align: center;
    bottom: 40px;
    left: 24px;
    color: #E2E2E2;
    font-size: 24px;
    font-weight: 700;
    line-height: 1.08;
    letter-spacing: 0.072px;
  }
}
@media screen and (min-width: 1400px) {
  .portfolio-list {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    align-items: center;
    justify-items: center;
    margin-bottom: 34px;
  }
}
.testimonials {
  text-align: center;
}

.testimonials__title {
  margin-bottom: 35px;
}

@media screen and (min-width: 768px) {
  .testimonials {
    padding-left: 90px;
    padding-right: 90px;
  }
}
@media screen and (min-width: 1400px) {
  .testimonials__title {
    margin-bottom: 100px;
  }
}
.swiper-container {
  margin: 0 auto;
  border-radius: 5px;
  width: 70vw;
  overflow: hidden;
  height: fit-content;
  height: fit-content;
  font-size: 50px;
  position: relative;
  padding-bottom: 50px;
  font-family: sans-serif;
}

.swiper-slide {
  width: auto;
  height: fit-content;
  display: flex;
  height: auto;
  border-radius: 5px;
  overflow: hidden;
  align-items: flex-start;
  flex-direction: column;
  padding: 0px;
  font-family: Nunito;
  border-radius: 16px;
}

.swiper-slide .ImgHolder {
  display: flex;
  width: 90%;
  height: auto;
  padding: 30px;
}

.ContentHolder::before {
  content: "";
  width: 50px;
  height: 50px;
  position: absolute;
  top: -5px;
  z-index: -1;
  right: 0px;
}

.ContentHolder {
  position: relative;
  padding: 10px;
}

.swiper-pagination-bullet {
  opacity: 1;
}

.swiper-slide img {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  margin: auto;
  object-fit: cover;
}

.swiper-slide h3 {
  font-size: 1.1rem;
  text-align: center;
  font-weight: bold;
}

.swiper-slide p {
  font-size: 0.9rem;
  padding: 5px;
  color: var(--major-text-color);
}

@media (max-width: 860px) {
  .swiper-container {
    width: 60vw;
  }
}
@media (max-width: 700px) {
  .swiper-container {
    width: 70vw;
  }
}
@media (max-width: 300px) {
  .swiper-container {
    width: 100%;
  }
  .swiper-slide {
    border-radius: 0px;
  }
  .swiper-container .ImgHolder {
    border-radius: 0px;
  }
  .ContentHolder {
    border-radius: 0px;
  }
}
.collaboration__desc {
  margin-bottom: 25px;
}

.collaboration-list {
  padding-top: 45px;
  position: relative;
}

.collaboration-list__team {
  position: relative;
  z-index: 100;
  border-radius: 16px;
}

.collaboration-list__speech {
  z-index: 0;
  position: absolute;
  border-radius: 16px;
  top: -15%;
  right: 5%;
}

@media screen and (max-width: 1399px) {
  .collaboration-list {
    margin-bottom: 45px;
  }
  .collaboration__info {
    text-align: center;
  }
}
@media screen and (min-width: 1400px) {
  .collaboration {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding-bottom: 180px;
  }
  .collaboration__info {
    order: 1;
  }
  .collaboration-list {
    order: 2;
  }
  .collaboration-list__speech {
    top: -10%;
    right: 15%;
  }
  .collaboration__desc {
    text-align: left;
    margin-bottom: 38px;
  }
  .collaboration__title {
    max-width: 400px;
  }
}
.footer-container {
  padding: 45px 34px 60px 26px;
}

.footer-logo {
  max-width: 185px;
  max-height: 88px;
  margin-bottom: 80px;
  padding: 18px 26px;
  border-radius: 20px;
}

.footer-info-sublist__link {
  transition: color 250ms var(--timing-function);
}

.footer-info-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-bottom: 90px;
}

.footer-info-list__item:not(:last-child) {
  margin-bottom: 45px;
}

.social-list__icon {
  stroke: #383638;
}

.footer-info-list__title {
  margin-bottom: 34px;
  font-size: 22px;
  font-weight: 700;
  line-height: 1.18;
}

.adress,
.footer-info-sublist__item {
  font-size: 16px;
  font-weight: 400;
  line-height: 1.13;
}

.footer-info-sublist__item:not(:last-child) {
  margin-bottom: 30px;
}

.social-list {
  margin: 0 auto 16px auto;
  padding: 0 66px 18px 66px;
  max-width: 500px;
  display: grid;
  justify-content: center;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  border-bottom: 1px solid white;
}

.social-list__link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: white;
}

.copyright {
  text-align: center;
}

@media screen and (min-width: 760px) {
  .footer-info-list {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 10px;
  }
}
@media screen and (min-width: 1400px) {
  .footer-info-list {
    max-width: 980px;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap: 60px;
  }
  .adress,
  .footer-info-sublist__item {
    font-size: 18px;
    font-weight: 400;
    line-height: 1.22;
  }
  .footer-info {
    display: flex;
    justify-content: space-between;
    margin-bottom: 76px;
  }
  .footer-container {
    padding: 132px 83px 33px 83px;
  }
}/*# sourceMappingURL=main.css.map */