:root {
    --accent-color: #E2E2E2;
    --color-titles: #ffffff;
    --background-color: #383638;
    --backgroud-secondary-color: #0E0E0E;
    --secondary-text-color: #ffffff;
    --major-text-color: #ffffff;
}

.theme__change[data-theme="dark"] {
    display: none;
}

.theme__change[data-theme="light"] {
    display: block;
}
body {
    background-color: var(--backgroud-secondary-color);
}
.accent-button {
    color: var(--accent-color);
    background: var(--backgroud-secondary-color);
}
.accent-button:hover,
.accent-button:focus {
    background-color: var(--accent-color);
    color: #0E0E0E;
}
.team__button-list--second:hover .story-btn__icon,
.team__button-list--second:focus .story-btn__icon {
    stroke: var(--backgroud-secondary-color);
}
.btn-reverse {
    background-color: var(--accent-color);
    color: #0E0E0E;
}

.btn-reverse:hover,
.btn-reverse:focus {
    color: var(--accent-color);
    background-color: var(--backgroud-secondary-color);
}
.story-btn__icon {
    stroke: #E2E2E2;
}
/*burger-menu*/
@media screen and (max-width: 1399px) {
    .burger-menu__icon {
        stroke: var(--accent-color);
    }
}



/*swiper*/
.swiper-slide {
    border: 1px solid rgba(255, 255, 255, 0.10);
}

.swiper-slide .ImgHolder {
    background-color: #0B0F15;
}

/*theme-switcher*/
.theme {
    background-color: #0B0F15;  
}

/*titles*/

.secondary-subtitles {
    color: var(--accent-color);
}

/*hero*/
.great-review__title {
    color: var(--major-text-color);
}
.great-review__grade {
 color: var(--major-text-color);
}
.hero-article__author {
    color: var(--accent-color);
}
.hero-article__review {
    color: var(--secondary-text-color);
}


/*services*/
.services-list__item {
    background-color: #0B0F15;
}
