:root {
    --accent-color: #377DFF;
    --color-titles: #1D1D1D;
    --background-color: #383638;
    --backgroud-secondary-color: #FDFFFF;
    --secondary-text-color: #ffffff;
    --major-text-color: #787878;
}


/*accent-button*/
.accent-button {
    color: var(--accent-color);
    background: var(--backgroud-secondary-color);
}
  .accent-button:hover,
  .accent-button:focus {
      background-color: var(--accent-color);
      color: var(--secondary-text-color);
  }
.btn-reverse {
    background-color: var(--accent-color);
    color: var(--secondary-text-color);
}
 .btn-reverse:hover,
 .btn-reverse:focus {
     color: var(--accent-color);
     background-color: var(--backgroud-secondary-color);
 }
.story-btn__icon {
    stroke: var(--accent-color);
}
.team__button-list--second:hover .story-btn__icon,
.team__button-list--second:focus .story-btn__icon {
    stroke: var(--backgroud-secondary-color);
}
/*burger-menu*/
@media screen and (max-width: 1399px) {
    .burger-menu__icon {
        stroke: #1D1D1D;
    }
}

/*swiper*/

.swiper-slide .ImgHolder {
    background-color: var(--backgroud-secondary-color);
}

/*theme-switcher*/
.theme {
    background-color: var(--backgroud-secondary-color);
}

/*hero*/
.great-review__title {
    color: var(--major-text-color);
}

.theme__change[data-theme="dark"] {
    display: block;
}

.theme__change[data-theme="light"] {
    display: none;
}