


.collaboration__desc {
    margin-bottom: 25px;
}
.collaboration-list {
    padding-top: 45px;
    position: relative;

}
.collaboration-list__team {

    position: relative;
    z-index: 100;
    border-radius: 16px;
}
.collaboration-list__speech {
    z-index: 0;
    position: absolute;
    border-radius: 16px;
    top: -15%;
    right: 5%;
}
@media screen and (max-width: 1399px) {
    .collaboration-list {
        margin-bottom: 45px;
    }
    .collaboration__info {
        text-align: center;
    }
}
@media screen and (min-width: 1400px) {
.collaboration {
        display: grid;
        grid-template-columns: 1fr 1fr;
        padding-bottom: 180px;
    }
    .collaboration__info {
    order: 1;
}
.collaboration-list {
    order: 2;
}
.collaboration-list__speech {
    top: -10%;
    right: 15%;
}
.collaboration__desc {
    text-align: left;
    margin-bottom: 38px;
}
.collaboration__title {
    max-width: 400px;
}
}