
.footer-container {
    padding: 45px 34px 60px 26px;
    
}

.footer-logo {
    max-width: 185px;
    max-height: 88px;
    margin-bottom: 80px;
    padding: 18px 26px;
    border-radius: 20px;
}
.footer-info-sublist__link {
    transition: color 250ms var(--timing-function);
}
.footer-info-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: 90px;
}

.footer-info-list__item:not(:last-child) {
    
    margin-bottom: 45px;
}

.footer-info-list__title {
    margin-bottom: 34px;
    @include font (22px, 700, 26px)
}
.adress,
.footer-info-sublist__item{
    @include font (16px, 400, 18px);
}
.footer-info-sublist__item:not(:last-child){
    margin-bottom: 30px;
}


.social-list {
    margin: 0 auto 16px auto;
    padding: 0 66px 18px 66px;
    max-width: 500px;
    display: grid;
    justify-content: center;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
}


.social-list__link {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    border-radius: 50%;
}

.copyright {
    text-align: center;
}
@media screen and (min-width: 760px) {
.footer-info-list {
    display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 10px;
}
}
@media screen and (min-width: 1400px) {
.footer-info-list {
        max-width: 980px;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        grid-gap: 60px;
    }
.adress,
.footer-info-sublist__item {
    @include font (18px, 400, 22px);
}
.footer-info {
    display: flex;
    justify-content: space-between;
    margin-bottom: 76px;
}
.footer-container {
    padding: 132px 83px 33px 83px;

}
}