@keyframes slideInFromTop {
    from {
        transform: translateX(-100%);
    }

    to {
        transform: translateX(0);
    }
}
@keyframes imgScale {
    from {
            transform: scale(0.2);
        }
    
        to {
            transform: scale(1);
        }
}
.hero {
    padding-top: 0;

    animation: slideInFromTop 1200ms forwards;
}

.hero__title {
    max-width: 750px;
    margin-bottom: 20px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;

    font-family: 'Nunito', sans-serif;
    letter-spacing: 0.64px;
    @include font(28px, 800, 32px);
    color: var(--color-titles);
    text-shadow: 3px 3px 4px rgba(0, 0, 0, 0.2);
}

.hero__desc {
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
    max-width: 340px;
}

.hero__button {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 62px;
}

.hero__image {
    position: relative;
    z-index: 1;
    animation: imgScale 1500ms forwards;
    margin-left: auto;
    margin-right: auto;
    border-radius: 55px;
}

.hero__area {
    position: relative;
}
.hero-article {
    z-index: 10;
    position: absolute;
    bottom: -10%;
    right: 7%;

    padding: 14px 10px;

    background-color: var(--backgroud-secondary-color);
    border-radius: 6px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}
.hero-article__area {
    display: flex;
    align-items: center;
    margin-bottom: 6px;
}
.hero-article__image {
    margin-right: 5px;
    border-radius: 50%
}
.hero-article__author {
    @include font (5px, 600, 7px);
    letter-spacing: 0.1px;
}
.hero-article__post {
    @include font (3px, 600, 5px);
    color: var(--major-text-color);
}
.hero-article__review {
    max-width: 60px;
    @include font (5px, 400, 7px);
    letter-spacing: 0.1px;
}
.great-review {
    z-index: 10;
    position: absolute;
    top: -10%;
    left: 5%;
    padding: 15px 20px;
    border-radius: 10px;
    background-color: var(--backgroud-secondary-color);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.great-review__star {
    display: flex;
    align-items: center;
    margin-bottom: 4px;
    margin-right: 4px;
}
.great-review__title {
    text-transform: uppercase;
    @include font (6px, 700, 8px);
}
.great-review__grade {
    
    @include font(12px, 400, 16px);
}
@media screen and (min-width: 768px) {
    .hero-article {
        bottom: -2%;
        right: -5%;
        padding: 28px 20px;
        border-radius: 10px;
        }
    .hero-article__area {
            margin-bottom: 12px;
        }
    .hero-article__image {
            margin-right: 10px;
        }
    .hero-article__author {
        @include font (10px, 600, 12px);
    }
    .hero-article__post {
        @include font (6px, 600, 8px);
    }
    .hero-article__review {
        max-width: 125px;
        @include font (10px, 400, 12px);
        letter-spacing: 0.1px;
    }
    .hero__title {
        @include font(60px, 900, 81px);
        margin-bottom: 25px;
    }
    .hero__desc {
        margin-bottom: 32px;
        max-width: 790px;
        }
    .hero__button {
        margin-bottom: 100px;
    }
    .great-review {
        padding: 20px 32px;
        border-radius: 6px;
        top: 5%;
        left: -5%;
    }
    .great-review__img {
        width: 24px;
        height: 24px;
    }
    .great-review__img {
        margin-right: 8px;
        margin-bottom: 8px;
    }
    .great-review__title {
        @include font (12px, 700, 14px);
        }
    .great-review__grade {
        @include font(24px, 400, 30px);
    }
}
@media screen and (min-width: 1400px) { 
    .hero-article {
            bottom: -2%;
            right: 15%;
        }
.hero__area {

    &::before {
        content: "";
        position: absolute;
        display: block;
        left: 420px;
        top: -15px;
        width: 100px;
        height: 70px;
        background-image: url(../../img/decoration-first.svg);
        background-repeat: no-repeat;
        background-size: cover;
    }

    &::after {
        content: "";
        position: absolute;
        z-index: 0;
        display: block;
        left: 450px;
        bottom: -15px;
        width: 100px;
        height: 70px;
        background-image: url(../../img/decoration-first-red.svg);
        background-repeat: no-repeat;
        background-size: cover;

    }
}
    .great-review {
        top: 5%;
        left: 15%;
    }
}