.services {
    text-align: center;
}



.services__desc {
    margin-bottom: 36px;   
}

.services__more {
    display: flex;
    text-align: start;
    align-items: center;
}
.services__more span {
    margin-right: 5px;
}
.services__icon-more {
    stroke: var(--accent-color);
}
.services-list__link {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 34px 34px;

}

.services-list__elem {
    width: 70px;
    height: 70px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 32px;
    border-radius: 50%;

}
.services-list__elem--monitor {
    background-color: var(--accent-color);
}
.services-list__icon {
    stroke: var(--backgroud-secondary-color);
}
.services-list__item {
    max-width: 262px;
    max-height: 270px;
    border-radius: 30px;


    transition: transform 250ms var(--timing-function);

    &:hover{
            transform: scale(1.1);
        }
    
}
.services-list__title {
    max-width: 156px;
    @include font (22px, 700, 32px)
}

.services-list__item--bottom {
    padding: 50px 90px;
}
@media screen and (max-width: 767px) {
    .services-list__item {
        margin: 0 auto;
    }   
    .services-list__item:not(:last-child) {
        margin-bottom: 35px;
    }
}
@media screen and (max-width: 1399px) {
    .services__more {
        margin-bottom: 27px;
    }
}
@media screen and (min-width: 768px) {
    .services-list {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 40px;
        place-items: center;
    }
}
@media screen and (min-width: 1400px) {
    .services {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 155px;
        align-items: baseline;
        }

    .services__more {
        text-align: end;
    }
    .services__title {
        text-align: start;
        max-width: 420px;
    }
}