.testimonials {
    text-align: center;
}
.testimonials__title {
    margin-bottom: 35px;
}

@media screen and (min-width: 768px) {
    .testimonials {
        padding-left: 90px;
        padding-right: 90px;
    }
}
@media screen and (min-width: 1400px) {
    .testimonials__title {
        margin-bottom: 100px;
    }
}

.swiper-container {
    margin: 0 auto;
    border-radius: 5px;
    width: 70vw;
    overflow: hidden;
    height: fit-content;
    height: fit-content;
    font-size: 50px;
    position: relative;
    padding-bottom: 50px;
    font-family: sans-serif;
}

.swiper-slide {
    width: auto;
    height: fit-content;
    display: flex;
    height: auto;
    overflow: hidden;
    align-items: flex-start;
    flex-direction: column;

    padding: 0px;

    font-family: Nunito;

    border-radius: 5px;
    border-radius: 16px;
    background-color: var(--backgroud-secondary-color);
    box-shadow: 0 4px 8px rgba(0, 0, 0, .2);
}

.swiper-slide .ImgHolder {
    display: flex;
    width: 90%;
    height: auto;
    padding: 30px;

}

.ContentHolder::before {

    content: '';
    width: 50px;
    height: 50px;
    position: absolute;
    top: -5px;
    z-index: -1;
    right: 0px;
    background-color: var(--backgroud-secondary-color);
}

.ContentHolder {
    position: relative;
    padding: 10px;

}

.swiper-pagination-bullet {
    opacity: 1;
    background-color: var(--backgroud-secondary-color);
    border: 1px solid var(--accent-color);
}
.swiper-pagination-bullet-active {
    background-color: var(--accent-color);
}
.swiper-button {
    border: 1px solid var(--backgroud-secondary-color);
}
.swiper-slide img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    margin: auto;
    object-fit: cover;
    border: 3px solid var(--accent-color);
    outline: 2px solid var(--backgroud-secondary-color);
}

.swiper-slide h3 {
    font-size: 1.1rem;
    text-align: center;
    font-weight: bold;
    color: var(--accent-color);
}

.swiper-slide p {
    font-size: 0.9rem;
    padding: 5px;
    color: var(--major-text-color);
}

@media (max-width:860px) {
    .swiper-container {
        width: 60vw;
    }
}

@media (max-width: 700px) {
    .swiper-container {
        width: 70vw;
    }
}

@media (max-width:300px) {
    .swiper-container {
        width: 100%;
    }

    .swiper-slide {
        border-radius: 0px;
    }

    .swiper-container .ImgHolder {
        border-radius: 0px;
    }

    .ContentHolder {
        border-radius: 0px;
    }
}