.accent-button {
    min-width: 130px;
    padding: 10px 35px;
    
    font-family: inherit;
    @include font(12px, 700, 18px);
    letter-spacing: 0.06em;
   
    border: 1px solid var(--accent-color);
    border-radius: 24px;
    

    transition: background-color 250ms var(--timing-function);

    cursor: pointer;
}

 
@media screen and (min-width: 768px) {
    .accent-button {
        min-width: 185px;
        padding: 12px 45px;

        @include font(16px, 700, 24px);
        letter-spacing: 0.12px;
    }
}
