@media screen and (max-width: 1399px) {
    .burger-menu {
        padding: 0;
        line-height: 0;
        border: none;
        background-color: transparent;
        cursor: pointer;
    }
    .mobile-menu {
        z-index: 1000;
        position: fixed;
        top: 0;
        left: 0;

        width: 100vw;
        height: 100vh;
        overflow: hidden;

        opacity: 0;
        visibility: hidden;
        pointer-events: none;
        background-color: var(--backgroud-secondary-color);

        transition: opacity 250ms var(--timing-function), visibility 250ms var(--timing-function);
    }

    .mobile-menu.is-open {
        opacity: 1;
        visibility: visible;
        pointer-events: auto;
    }
    .burger-menu__icon {
        transition: fill 250ms var(--timing-function);
    }
    .mobile-menu__close {
        position: absolute;
        top: 10px;
        right: 15px;
        padding: 11px;
        line-height: 0;
        border: none;
        background-color: transparent;
       
        cursor: pointer;
    }
    .btn-close__icon {
        transition: fill 250ms var(--timing-function);
    }
    .mobile-menu__container {
        display: flex;
        flex-direction: column;
        position: relative;
        height: 100vh;

        padding-top: 48px;
        padding-bottom: 48px;
    }

    .mobile-list {
        margin-bottom: 64px
    }

    .mobile-list__item {
        margin-bottom: 32px;

        @include font(30px, 500, 34px);
        letter-spacing: 0.02em;

        color: var(--color-titles);
    }
    .mobile-list__link {
        .mobile-list__item &:hover {
            transition: color 250ms var(--timing-function);
        }
    }
    .burger-menu__button {
        display: block;
        margin: 0 auto;
    }

    .burger-menu__icon:hover {
        fill: var(--accent-color);
    }

    .mobile-menu__close:hover .btn-close__icon {
        fill: var(--accent-color);
    }

    .mobile-list__item .mobile-list__link:hover {
        color: var(--accent-color);
    }

    .mobile-list__item .mobile-list__link {
        color: var(--color-titles);
    }

    .mobile-list__item .mobile-list__link--active {
        color: var(--accent-color);
    }
 }