.secondary-titles {
    font-family: 'Nunito', sans-serif;

    margin-bottom: 30px;

    @include font(55px, 700, 66px);

    color: var(--color-titles);
}

.secondary-subtitles {
margin-bottom: 20px;
    @include font (24px, 600, 24px);
    letter-spacing: 0.24px;
    color: var(--accent-color);
}
