.secondary-titles {
    margin-bottom: 25px;

    font-family: 'Nunito', sans-serif;
    @include font(28px, 700, 36px);

    color: var(--color-titles);
}

.secondary-subtitles {
    margin-bottom: 10px;

    @include font (14px, 600, 16px);
    letter-spacing: 0.14px;

    color: var(--accent-color);
}
@media screen and (min-width: 1400px) {
    .secondary-titles {
        margin-bottom: 30px;

        @include font(55px, 700, 66px);
    }
    .secondary-subtitles {
        margin-bottom: 20px;

        @include font (24px, 600, 26px);
        letter-spacing: 0.24px;
    }
}