:root {
    --major-font-family: 'Quicksand', sans-serif;
    --secondary-font-family: 'Nunito', sans-serif;
    --major-letter-spacing: 0.03em;
    --accent-color: #377DFF;
    --color-titles: #1D1D1D;
    --background-color: #383638;
    --backgroud-light-color: #FDFFFF;
    --secondary-text-color: #ffffff;
    --major-text-color: #787878;

    --timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
