:root {
    --major-font-family: 'Quicksand', sans-serif;
    --secondary-font-family: 'Nunito', sans-serif;
    --major-letter-spacing: 0.03em;
    --use-dark-theme: false;
    --timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
